*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.item{
/* height: 300px; */
width: 450px;
/* display: inline-block; */
/* border-width: 5px;
border-style: solid;
border-color: blue; */
border: 5px solid blue;
padding: 25px;
margin: 15px auto;
}

.item1{
background-color: rgb(218, 29, 29);

}

.item2{
background-color: rgb(20, 184, 42);

}

